body{
	background: grey;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.navbar{
	background-color: antiquewhite;
}

.section1{
	background-color: antiquewhite;
	overflow-x: hidden;
	height: 700px;
}
.row{
	margin-left: 20px;
	margin-right: 20px;
}
.nav-item{
	text-align: center;
	border: 1px solid black;
}
.p1{
	margin-bottom: 1px;
	font-weight: bolder;
}
h3{
	font-weight: bold;
}
.navbar-nav{
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgb(151, 128, 128);
	
}
@media (min-width: 991px) {
	.navbar-nav {
		visibility: hidden !important;
	}
}